.profile-layout {
  min-height: 100vh;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-container {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 30px;
}

.profile-avatar {
  border: 2px solid #1890ff;
}

.profile-form {
  width: 300px;
}

.ant-form-item-label > label {
  color: #001529;
}

button.ant-btn-primary {
  background-color: #1890ff;
  border-color: #1890ff;
  transition: background-color 0.3s;
}

button.ant-btn-primary:hover {
  background-color: #40a9ff;
  border-color: #40a9ff;
}

button.ant-btn-icon-only {
  background-color: #1890ff;
  color: #fff;
}

button.ant-btn-icon-only:hover {
  background-color: #40a9ff;
}

